<div id="favorite_<%=feed.id%>">
  <% if feed.favorite?(feed, current_user) %>
    <%= link_to '', favorite_path(id: feed.id), method: :delete, remote: true, class:"fas fa-heart like-link"%>
  <% else %>
    <%= link_to '', favorites_path(feed_id: feed.id), method: :post, remote: true, class:"far fa-heart like-link"%>
  <% end %>
</div>