
<div class="container-fluid mt-4">
	<div class="row">
		<div class="col-md-4" id="msg-area">
			<div class="chat-list-box">
				<div class="head-box">
					<div class="list-inline text-left d-inline-block float-left">
						<%= avatar(current_user, "rounded-circle")%>
						<span class="ml-2"><%=current_user.name%></span>
					</div>
				</div>
				<%# search bar %>
				<div class="input-group">
					<input type="text" class="form-control" aria-describedby="button-addon2">
					<div class="input-group-append">
						<button class="btn btn-outline-primary" type="button" id="button-addon2">
						<i class="fa fa-search"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="chat-person-list mb-3">
				<ul class="list-inline"> 
					<li> <a href="#" class="flip"> <img src="https://i.ibb.co/6JpcfrK/p4.png" alt=""> <span> Naveen Mandwariya</span> <span class="chat-time">12:00 Am</span> </a> </li> 
					<li> <a href="#" class="flip"> <img src="https://i.ibb.co/vdyYVvp/p1.png" alt=""> <span> Sunena Daksh </span> <span class="chat-time">11:45 Pm</span> </a> </li> 
					<li> <a href="#" class="flip"> <img src="https://i.ibb.co/vY406Hp/p3.png" alt=""> <span> Arpit Singh </span>  <span class="chat-time">12:15 Pm</span> </a> </li>
					<li> <a href="#" class="flip"> <img src="https://i.ibb.co/KhYZwPg/p2.png" alt=""> <span> Arpita </span>  <span class="chat-time">09:10 Am</span> </a> </li>
					<li> <a href="#" class="flip"> <img src="https://i.ibb.co/ChGLXKZ/p5.png" alt=""> <span> Sorasth parmar </span>  <span class="chat-time">02:00 Pm</span> </a> </li>
					<li> <a href="#" class="flip"> <img src="https://i.ibb.co/KDZymW5/p6.png" alt=""> <span> Sushmita </span>  <span class="chat-time">08:00 Am</span> </a> </li>
					<li> <a href="#" class="flip"> <img src="https://i.ibb.co/KDZymW5/p6.png" alt=""> <span> Sushmita </span>  <span class="chat-time">08:00 Am</span> </a> </li>
					<li> <a href="#" class="flip"> <img src="https://i.ibb.co/KDZymW5/p6.png" alt=""> <span> Sushmita </span>  <span class="chat-time">08:00 Am</span> </a> </li>
					<li> <a href="#" class="flip"> <img src="https://i.ibb.co/KDZymW5/p6.png" alt=""> <span> Sushmita </span>  <span class="chat-time">08:00 Am</span> </a> </li>
					<li> <a href="#" class="flip"> <img src="https://i.ibb.co/KDZymW5/p6.png" alt=""> <span> Sushmita </span>  <span class="chat-time">08:00 Am</span> </a> </li>
					<li> <a href="#" class="flip"> <img src="https://i.ibb.co/KDZymW5/p6.png" alt=""> <span> Sushmita </span>  <span class="chat-time">08:00 Am</span> </a> </li>
					<li> <a href="#" class="flip"> <img src="https://i.ibb.co/KDZymW5/p6.png" alt=""> <span> Sushmita </span>  <span class="chat-time">08:00 Am</span> </a> </li>
				</ul>
			</div>
		</div>
		<div class="col-md-8" id="msg-area">
			<div class="message-box">
				<div class="head-box-1">
					<div class="msg-box list-inline text-left d-inline-block float-left">
						<li> <img src="https://i.ibb.co/fCzfFJw/person.jpg" alt="" width="40px"> <span> Naveen mandwariya </span> <br> <small class="timee"> 12:45 Pm </small> </li> 
					</div>
					<ul class="flat-icon list-inline text-right d-inline-block float-right">
						<li> <a href="#"> <i class="card-link fas fa-times"></i> </a> </li>
					</ul>
				</div>
				<div class="msg_history">
					<div class="incoming_msg">
						<div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
						</div>
						<div class="received_msg">
							<div class="received_withd_msg">
								<p>Hi, How are you ?</p>
								<span class="time_date"> 11:01 AM    |    June 9</span>
							</div>
						</div>
					</div>
					<div class="outgoing_msg">
						<div class="sent_msg">
							<p>Hello, i am fine thankyou, what about you ?</p>
							<span class="time_date"> 11:01 AM    |    June 9</span> </div>
					</div>
					<div class="outgoing_msg">
						<div class="sent_msg">
							<p>Hello, i am fine thankyou, what about you ?</p>
							<span class="time_date"> 11:01 AM    |    June 9</span> </div>
					</div>
					<div class="outgoing_msg">
						<div class="sent_msg">
							<p>Hello, i am fine thankyou, what about you ?</p>
							<span class="time_date"> 11:01 AM    |    June 9</span> </div>
					</div>
					<div class="outgoing_msg">
						<div class="sent_msg">
							<p>Hello, i am fine thankyou, what about you ?</p>
							<span class="time_date"> 11:01 AM    |    June 9</span> </div>
					</div>
					<div class="outgoing_msg">
						<div class="sent_msg">
							<p>Hello, i am fine thankyou, what about you ?</p>
							<span class="time_date"> 11:01 AM    |    June 9</span> </div>
					</div>
					<div class="incoming_msg">
						<div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
						<div class="received_msg">
							<div class="received_withd_msg">
								<p>I am also good thankyou!</p>
								<span class="time_date"> 11:01 AM    |    Yesterday</span></div>
						</div>
					</div>
					<div class="outgoing_msg">
						<div class="sent_msg">
							<p> ok </p>
							<span class="time_date"> 11:01 AM    |    Today</span> </div>
					</div>
					<div class="incoming_msg">
						<div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
						<div class="received_msg">
							<div class="received_withd_msg">
								<p> What's going on ?</p>
								<span class="time_date"> 11:01 AM    |    Today</span></div>
						</div>
					</div>
				</div>
				<div class="send-message">
				<div class="row">
					<%# <form action="" method=""> %>
						<textarea class="form-control col-10 ml-3" placeholder="Type your message here ..."> </textarea>
            <i class="far fa-paper-plane btn col-1 text-center"></i>
					<%# </form> %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
