<div class="card gedf-card mb-3">
  <div class="card-body text-center">
    <h5 class="h6 card-title my-2">フォロー中</h5>
      <% if current_user.following == nil %>
        <%= content_tag(:div, "現在フォロー中のユーザーがいません。", class: "text-muted h6-5")%>
      <% else %>
        <% current_user.following.each do |user| %>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td class="text-left"><%=link_to "#{user.name}", user_path(user), class:"card-subtitle h6 mt-0 ml-3 card-link text-dark" %></td>
                <td style="width: 40%"><%=link_to " メッセージ", user_path(user), class:"btn btn-outline-info h7 fab fa-rocketchat py-2" %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      <% end %>
    </h5>
  </div>
</div>