@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html,
body {
  background-color: #f0eeee;
}

// Nav bar
.nav-bg {
  background-image: linear-gradient(125deg,#00CFC8,#00a5ce);
  background-size: 200% 200%;
}

button.navbar-toggler.navbar-toggler-right {
  border-color: #fff;
}

@media (max-width: 768px) {
  nav.navbar {
    background-image: linear-gradient(125deg,#00CFC8,#00a5ce);
    background-size: 200% 200%;
  }
}

// Button custom
.btn-outline-light {
  color: #aaa;
  border-color: #aaa;
}

.btn-outline-light:hover {
  color: #fff;
  border-color: #aaa;
  background-color: #aaa;
}

.btn-outline-primary {
  color: #00C7C9;
  border-color: #00C7C9;
}

.btn-outline-primary:hover {
  color: #fff;
  border-color: #00C7C9;
  background-color: #00C7C9;
}

.btn-primary {
  color: #fff;
  border-color: #00C7C9;
  background-color: #00C7C9;
}

.btn-primary:hover {
  color: #fff;
  border-color: #00BECA;
  background-color: #00BECA;
}

.comment-btn {
  border: none;
}

// Card custom
.card {
  max-width: 800px;
  margin: 0 auto;
}
.card-header {
  background-color: #fff;
  padding: 10px;
  color: #202528;
}

.card-body {
  padding: 0;
}
.card-footer {
  background-color: #fff;
  padding: 5px 15px;
}

.card-image {
  width: 100%;
}

// Image field custom
#img_field {
  position: relative;
  margin: 0 auto;
  padding: 5px 5px;
  color: #dfdfdf;
  cursor: pointer;
  max-width: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

#img_field:hover {
  background-color: #aaa;
  transition: 0.3s ease-out;
  opacity: 0.5;
}

#uploaded_img {
  max-width: 100%;
}

// Profile image field custom
#avatar_field {
  margin: 0.5rem auto;
  margin-top: 2rem;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  color: #442c2c;
  cursor: pointer;
  background-position: center;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  position: relative;
}

#avatar_field:hover {
  background-color: #aaa;
  transition: 0.3s ease-out;
  opacity: 0.5;
}

.preview-avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

// Font size
.h6 {
  font-size: 1.1rem !important;
}

.h6-5 {
  font-size: .9rem;
}

.h7 {
  font-size: .8rem;
}

// Form custom
.form-control {
  border-radius: 0;
}

.text-box {
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;
}

//Feed Avatar
.rounded-circle {
  width: 50px;
  height: 50px;
}
.feed-avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

//Profile Avatar
.profile-avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.image-box {
  flex: 0 0 32%;
  max-width: 32%;
  display: inline-block;
}

.img-inbox {
  width: 100%;
}

.img-inbox:hover {
  opacity: 0.8;
}

.like-link {
  text-decoration: none;
  color:#FF5965;
  font-size: 1.4rem;
}

.like-link:hover {
  text-decoration: none;
  color:#e60f1d;
}

// Comment
.comment-list {
  padding: 0;
}

// Conversation
#msg-area {
  height: 100%;
}

::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-thumb {
	background: #00BFCA;
	border-radius: 5px;
}

.chat-list-box {
  display: inline-block;
  width: 100%;
  background: #fff;
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.16);
}



.flat-icon li{
	display: inline-block;
  padding: 0px 8px;
  vertical-align: middle;
  // position: relative;
  top: 7px;
}

ul.list-inline.text-left.d-inline-block.float-left {
    margin-bottom: 0.5rem;
}

.message-box{
	display: inline-block;
  width: 100%;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
}

.msg-box li{
	display:inline-block;
	padding-left: 10px;
}

.msg-box img{
	border-radius:50px;
}

.msg-box li span{
	padding-left:8px;
	color:#545454;
	font-weight:550;
}


// checked
.head-box {
        display: flow-root;
  padding: 10px;
}

// .head-box ul li a{
//     color:#fff;
// }
.chat-person-list{
  margin-top: 0.5rem;
  padding:14px;
  background: #fff;
  overflow-x: hidden;
  overflow-x: scroll;
  height: 60vh;
}

.chat-person-list ul li img{
	width:30px;
	border-radius:50px;
}

.chat-person-list ul li span {
    padding-left: 20px;
}

.chat-person-list ul li {
    line-height: 55px;
}

span.chat-time {
    float: right;
    font-size: 12px;
}

.head-box-1{
	display: flow-root;
  padding: 10px;
  background: #fff;
}

.msg_history {
  padding: 10px;
  overflow: overlay;
  height: 56vh;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.timee{
  position: absolute;
  left: 115px;
  top: 30px;
  color: #fff;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received_withd_msg {
  width: 57%;
}

.received_withd_msg p {
  background: #00BFCA;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 22px;
  width: 100%;
  border-top-left-radius: 30px;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

//! delete:keep float
.incoming_msg_img img {
  width: 100%;
  border-radius: 50px;
  float: left;
}


.outgoing_msg {
  overflow: hidden;
  margin: 10px 0 10px;
}


.sent_msg {
  float: right;
  width: 46%;
}

.sent_msg p {
  background: #ddd;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #333;
  padding: 5px 10px 5px 22px;
  width: 100%;
	border-bottom-right-radius: 30px;
}

.chat-person-list ul li a {
  color: #545454;
  text-decoration: none;
}

.send-message {
  padding: 10px;
  background: #02CEC8;
  height: auto;
  position: relative
}

.send-message .form-control {
    border-radius: 10px;
}

@media only screen and (max-width: 500px) {
  .message-box {
    display: none;
    position:relative;
    top:-100%;
  }
}