@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html,
body {
  background-color: #f0eeee;
}

// Nav bar
.nav-bg {
  background-image: linear-gradient(125deg,#00CFC8,#00a5ce);
  background-size: 200% 200%;
}

button.navbar-toggler.navbar-toggler-right {
  border-color: #fff;
}

@media (max-width: 768px) {
  nav.navbar {
   background-image: linear-gradient(125deg,#00CFC8,#00a5ce);
      background-size: 200% 200%;
  }
}

// Button custom
.btn-outline-light {
  color: #aaa;
  border-color: #aaa;
}

.btn-outline-light:hover {
  color: #fff;
  border-color: #aaa;
  background-color: #aaa;
}

.btn-outline-info {
  color: #484848 !important;
  border-color: #484848 !important;
}

.btn-outline-info:hover {
  background-color: #484848 !important;
  color: #F0EEEE !important;
}

.btn-info {
  color: #F0EEEE !important;
  background-color: #5e5e5e !important;
  border-color: #5e5e5e !important;
}

.btn-info:hover {
  color: #F0EEEE !important;
  background-color: #484848 !important;
  border-color: #484848 !important;
}

.submit-btn {
  border: none;
}

// Card custom
.card {
  max-width: 800px !important;
  margin: 0 auto;
}
.card-header {
  background-color: #fff !important;
  padding: 10px !important;
  color: #202528 !important;
}

.card-body {
  padding: 0 !important;
}
.card-footer {
  background-color: #fff !important;
  padding: 5px 15px !important;
}

.card-image {
  width: 100%;
}

// Image field Custom
#img_field {
  position: relative;
  margin: 0 auto;
  padding: 5px 5px;
  color: #dfdfdf;
  cursor: pointer;
  max-width: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

#img_field:hover {
  background-color: #aaa;
  transition: 0.3s ease-out;
  opacity: 0.5;
}

#uploaded_img {
  max-width: 100%;
}

// Font size
.h6 {
  font-size: 1.1rem !important;
}

.h6-5 {
  font-size: .9rem;
}

.h7 {
  font-size: .8rem;
}

// Form custom
.form-control {
  border-radius: 0;
}

.text-box {
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;
}

//Feed Avatar
.rounded-circle {
  width: 50px;
  height: 50px;
}

//Profile Avatar
.profile-avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.image-box {
  flex: 0 0 32%;
  max-width: 32%;
  display: inline-block;
}

.img-inbox {
  width: 100%;
}

.img-inbox:hover {
  opacity: 0.8;
}

.like-link {
  text-decoration: none;
  color:#FF5965;
  font-size: 1.4rem;
}

.like-link:hover {
  text-decoration: none;
  color:#e60f1d;
}